body {
    background-color: #7090ab;
}

.box{
    background-color: rgb(93, 119, 196);
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;

    height: 600px;
    max-height: 105vh;

    box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3);

    padding: 10px;
    text-align: center;
}

.box img {
    width: 90%;
    height: 60%;
    border-radius: 20%;
    padding: 5%;
}

.box :hover {
    transform: scale(1.1);
    box-shadow: 0 0 12px rgba(0, 255, 255, 0.6);
}

.grid{
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.grid > div {
    flex-basis: calc(30%);
    margin: 1%;
}


.box .links a {
    color: #021c2f;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.box1 .links a:hover {
    text-decoration: underline;
}

.box1 .links p {
    margin: 10px 0;
    font-family: sans-serif;
}
